@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary : #334839;
}

body {
  color: var(--foreground);
  background: var(--background);
  --header-height: 66px;
  @media (min-width:992px) {
    --header-height: 72px;
  }
  @media (min-width:1280px) {
    --header-height: 100px;
  }
}

.ff-2 {
  font-family: "Fanwood Text", serif;
}

.h1{
  font-size: 32px;
  font-family: "Fanwood Text", serif;
  @media (min-width: 768px) {
    font-size: 45px;
  }
  @media (min-width: 1200px) {
    font-size: 60px;
  }
  @media (min-width: 1600px) {
    font-size: 72px;
  }
}

.h2{
  font-size: 32px;
  font-family: "Fanwood Text", serif;
  @media (min-width: 768px) {
    font-size: 38px;
  }
  @media (min-width: 1200px) {
    font-size: 45px;
  }
  @media (min-width: 1600px) {
    font-size: 52px;
  }
}

.admin-content-area{
  @media (min-width : 992px) {
    font-size: 18px;
   }
   * + *{
     margin-top: 20px;
     line-height: 1.5;
     @media (min-width : 992px) {
      margin-top: 32px;
     }
   }
   h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    @media (min-width : 992px) {
      font-size: 24px;
    }
   }
   h3 + p{
    margin-top: 10px;
   }
   ol{
    list-style: decimal;
    padding-left: 16px;
    @media (min-width : 992px) {
      padding-left: 26px;
    }
   }
}
